html
    head
        link(rel="stylesheet" type ="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")

    body
        .container
            nav.navbar.navbar-inverse.navbar-embossed
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href="#") Cool logo
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="/friends") Buscar a mis amigos
                            li
                                a(href="/auth/close") Cerrar sesión
            section
                h1 Awesome profiles
                .row
                    for user in users
                        .col-xs-6.text-center
                            img(src="http://graph.facebook.com/" + user.uid + "/picture?height=200")
                            h4=user.name