html
    head
        link(rel="stylesheet" type ="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")

    body
        .container
            nav.navbar.navbar-inverse.navbar-embossed
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href="#") Cool logo
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="/auth/facebook") Iniciar sesión con Facebook
            section
                h1 Awesome profiles
                P Logros description